# Virtual Environment
venv/
env/
.venv/

# Database
db.sqlite3
*.db

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.pytest_cache/

# Django
media/
staticfiles/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db